body{
    font-family: 'Lobster', cursive;
    margin-left: 20px;
    background-color:#FED8FD;
}
h1{
    /* font-family: 'Lobster', cursive; */
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 100px;
}
h2 strong{
    color: rgb(255, 0, 255);
}

h2{
    font-weight: 100;
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
}
header{
    margin: 0 auto;
    border: red solid 2px;
    justify-content: center;
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    align-items: center;
}

.imagen-redondo{
    border-radius: 210px;
    border: 10px solid red;
    margin: 20px 50px;
}

header a{
    text-decoration: none;
    font-family: 'Architects Daughter', cursive;
    font-weight: 600;
    font-size: 42px;
}

header li{
    /* border: blueviolet solid 2px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.encabezado{
    display: flex;
}

.navegadores{
    margin: 100px;
    margin-top: 20px;
    width: -webkit-fill-available;
}
.nav{
    list-style-type: none;
}

