body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
    background-color: #F1F1F1;
   padding: 0 ;
}
h1{
    /* font-family: 'Lobster', cursive; */
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 100px;
    margin-top: 0px;
}
h2 strong{
    color: rgb(255, 0, 255);
}

h2{
    font-weight: 100;
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
}
header{
    
    margin: 0 auto;
    /* border: red solid 2px; */
    justify-content: center;
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    align-items: center;
    
    
    
}

.imagen-redondo{
    border-radius: 210px;
    border: 10px solid rgb(255, 215, 215);
    margin: 20px 50px;
}

header a{
    text-decoration: none;
    font-family: 'Architects Daughter', cursive;
    font-weight: 600;
    font-size: 42px;
    display: contents;
    color: rgb(255, 0, 255);
}

header li{
    /* border: blueviolet solid 2px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header img{
margin-top: 0px;
}

.encabezado{
    display: flex;
}

.navegadores{
    margin: 100px;
    margin-top: 20px;
    width: -webkit-fill-available;
}
.nav{
    list-style-type: none;
}

.contactar{
    /* background-color: white; */
    
    height: 120px;
    display: flex;
    align-items: center;
    /* font-weight: 600; */
    justify-content: space-between;
    font-size: 25px
    
}


.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    /* border: 1px solid black; */
}

.social-link.facebook{
    background-image: url(../redesocial/facebook.svg);
   background-size: 50px 50px;
}
.social-link.instagram{
    background-image: url(../redesocial/instagram.svg);
   background-size: 50px 50px;
}
.social-link.whatsapp{
    background-image: url(../redesocial/whatsapp.svg);
   background-size: 50px 50px;
}

 
footer p{
    display: flex;
    align-items: center;
}
footer a{
    color: white;
    text-decoration: none;
}
.container-header{
  /* border: tomato solid 2px; */
  width: 1100px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  background-color: inherit;
  background-color:#FED8FD;
  padding: 0 20px;

}
.container-contacto{
    width: 1100px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    background-color: inherit;
    background-color:white;
    border-bottom: black solid 15px;
    padding: 0 20px;
}

.container-footer{
    width: 1100px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    background-color: inherit;
    background-color: rgb(138, 0, 0);
    padding: 0 20px;
}


footer{
    /* background-color: rgb(138, 0, 0); */
    display: flex;
    justify-content: space-between;
    color: white;
}